.container{
    background-color: blueviolet;
    padding: 10px;
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: space-evenly;

    gap: 10px;

}

.box {
    background-color: darkorange;
    padding: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-1{
    border-radius: 50%;
    order: 1;
}

.box-2{
   order: 0;
}
.box-3{
    order: 2
}


/*
.box-1{
    flex:1;
}
.box-2{
    flex:1;
}
.box-3{
    flex:1;
}
*/


.container-block{
    margin-top: 50px;
    background-color: blueviolet;
    padding: 10px;  

}

.container-block .box{

    background-color: aquamarine;
    display: inline-block;
}

.alto-400{
    width: 200px;
    height: 300px;
    background-color: aqua;
    overflow-y: scroll;
}