@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@font-face {
    font-family: gandhifont;
    src: url('../fonts/Gandhi/GandhiSans-Regular.otf');
}

@font-face {
    font-family: kallaikos;
    src: url('../fonts/Kallaikosrevve/kallaikosrevve-webfont.woff2');
}

html {
  font-family: 'Montserrat', sans-serif;
}
html, 
body{
    font-size: 16px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'gandhifont', sans-serif;
    font-weight: 200;
    font-size: 1.2rem;
}

footer .demo-icon{
    color: red;
    transition: all 1s;
}

footer .demo-icon:hover{
    color: blue;
}

nav ul{
    list-style: none;
}

nav li{
    display: inline-block;
}

.header-menu{
    border: 1px solid green;
}

.services{
    border: 1px solid red;
    max-width: 1400px;

    margin: 0 auto;
}

.services h2{
    text-align: center;
}

h2{
    text-transform: uppercase;
}

.services ul{
    list-style: none;
    border: 1px solid yellow;
    max-width:1000px;
    margin: 0 auto;
}

.services ul li{
   width: 200px;
   height: 200px;
   /*border: 1px solid orange;*/
   margin: 15px;
   box-shadow: 6px 6px 41px 4px rgba(0,0,0,0.1);

}

.services ul .grafico{
    width: 180px;
    height: 180px;
 }

/*
p{
    margin: 0;
}
*/

.ilustracion{
    background-color: aqua;
}

.creatividade{
    background-color: lightgreen;
    border-radius: 50%;
}

.grafico{
    background-color: violet;
    transform: rotate(45deg);
}

.grafico h3{
    transform: rotate(-45deg);
}

.services ul{
    background-color: lightgray;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.destinatarios div{
    border: 1px solid black;
    background-color: rgba(200, 200, 200, 0.5);

}

body{
    background-color: bisque;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo{
    order: 1;
    width: 80px;
}


header .logo img{   
    width: 100%;
}


.menu{
    font-family: 'Ubuntu', sans-serif;

}

header .left-menu{
    order: 0;   
}


header .right-menu{
    order: 2;  
}

.destinatarios p{
    margin: 16px;
}

.destinatarios{
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin-top: 15px;
}

.bg-green{
    background-color: lawngreen;
}

.bg-green .centered{
    max-width: 1400px;
    margin: 0 auto;
}

.bg-green img{
    width: 110px;
    border: 2px solid green;    
    border-radius: 50%;

    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


footer{
    margin-top: 60px;
}


/*Páxina de tipografía*/

#demo-font{
    width: 100%;
    margin-top: 15px;
    padding: 10px;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: lightyellow;
    box-sizing: border-box;
}



.kallaikos{
    font-family: kallaikos;
}

.gandhi{
    font-family: gandhifont;
}

/*Fin páxina tipografía*/


@media (min-width: 768px)  {

    h1,h2,h3,h4,h5,h6{
        font-size: 1.5rem;
    }

    .services ul{      
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

    .destinatarios{
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-top: -16px;
    }

    .destinatarios > div{
        flex: 1;
    }
   

    .bg-green .centered{
        display: flex;
        justify-content: space-between;
    }

    .bg-green .centered .right,
    .bg-green .centered .left{
        display: flex;
        align-items: center;

    }


   
    .bg-green .centered .left .block-1{
        padding-right: 160px;
        position: relative;
        

    }

    .photofooter{
        position: absolute;
        top: -68px;
        right: 20px;
    }



}
